
/* 共通 slide */
/* khoi slide */
.khoi__slide {
  width: 50%;
  margin: 17px auto;
  position: relative;
}
.cac__slide {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.slide__active {
  opacity: 1;
  visibility: visible;
}
img {
  margin: auto;
  width: 100%;
  overflow: hidden;
}
/* nut span */
.nut span {
  color: white;
  font-size: 30px;
  position: absolute;
  font-weight: 700;
  top: 45%;
  cursor: pointer;
}
.prev {
  left: 3%;
}
.next {
  right: 3%;
}
/* text */
#active {
  opacity: 1;
}
.text {
  color: white;
  padding: 10px 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}
/* container */
.container_bottom {
  background-color: white;
  position: absolute;
  z-index: 10;
  bottom: 0%;
  display: flex;
}
.container_bottom img:hover{
  opacity: 1;
}
.container_bottom img {
  opacity: 0.7;
  flex: 1 1;
  object-fit: cover;
  cursor: pointer;
  
}
/* numbertext */
.number__text {
  color: white;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .text {
    font-size: 1rem;
    bottom: 10%;
  }
  .container_bottom img {
    height: 35px;
  }
  .number__text {
    font-size: 1em;
  }
}
/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .text {
    font-size: 1.5rem;
    bottom: 15%;
  }
  .container_bottom img {
    height: 60px;
  }
  .number__text {
    font-size: 1.2em;
  }
}
/*desktop*/
@media screen and (min-width: 1024px) {
  .text {
    font-size: 2rem;
    bottom: 20%;
  }
  .container_bottom img {
    height: 130px;
  }
  .number__text {
    font-size: 1.5em;
  }
}
