 
  body {
    font-family: Verdana, sans-serif; margin:0
    }
  
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }
    
    .text {
    color: #f2f2f2;
    padding: 20px 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    } 
  
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }
    
    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }
    
    @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
    }
  
    .slideshow-container {
    width: 50%;
    margin: 17px auto;
    position: relative;
    }
  
    .mySlider {
    width: 100%;
    height: auto;
    overflow: hidden;
    }
  
    .mySlider img {
    margin: auto;
    width: 100%;
    overflow: hidden;
    }
    
    .container {
    background-color: white;
    position: absolute;
    padding-left: 0px;
    bottom: 0%;
    display: flex;
    }
  
    .dot img:hover{
    opacity: 1;
    }
  
    .dot img {
    opacity: 0.7;
    flex: 1 1;
    object-fit: cover;
    cursor: pointer;
    
    }
    
   
    @media screen and (min-width: 320px) {
    .text {
      font-size: 1rem;
      bottom: 10%;
    }
    .dot img {
      height: 40px;
    }
    
    }
  
    @media screen and (min-width: 768px) {
    .text {
      font-size: 1.5rem;
      bottom: 15%;
    }
    .dot img {
      height: 60px;
    }
    
    }
   
    @media screen and (min-width: 1024px) {
    .text {
      font-size: 2rem;
      bottom: 20%;
    }
     .dot img {
      height: 80px;
    } 
    
    }
    